body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    background-color: white;
    font-size: 16px;
    color: red;
}

input {
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid black;
    margin-bottom: 4px;
}

.buttons{
    cursor: pointer;
    border-radius: 10px;
    background: black;
    color: white;
    padding: 10px 20px;
    border: 3px solid black;
    font-weight: bold;
}

#delete-btn{

    background: white;
    color: black;
    border: 3px solid black;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: black;
}
